<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
    @import url('https://db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=CircularSpotifyTxT-Black');
  </style>
  <link rel="stylesheet" type="text/css" href='static/main.css'>


  <link href="https://db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=CircularSpotifyTxT-Black" rel="stylesheet">


</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4 inc250" href="/">SPG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/account">Account</a>
            <a class="nav-item nav-link" href="/about">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row center-content">
      <div class="col-md-8 text-center">
        <br>
        <h1>Spotify Playlist Generator</h1>
        <a class="btn btn-primary inc250 but" href="/spotify-generator">CLICK HERE TO START</a>
      </div>
    </div>
    <!-- <div class="row center-content">
      <div class="col-md-8 text-center">
        <h1>Playlist Created</h1>
        <a class="btn btn-primary" href="/success">Playlist Created</a>
      </div>
    </div> -->
  </main>
</body>
</html>

